---
name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "LICENSE"

jobs:
  build:
    name: Test Runner
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install reasonml
        run: npm install -g esy
      - name: Run tests
        run: ./bin/test-exercises.sh
        
