---
name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "LICENSE"

jobs:
  build:
    name: Test Runner
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install reasonml
        run: npm install -g esy
      - name: Run tests
        run: ./bin/test-exercises.sh
        
