---
name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "LICENSE"

jobs:
  build:
    name: Test Runner
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Install reasonml
        run: npm install -g esy
        
